@import '~antd/dist/antd.css';

$purple: #69488F;
$white: #FFF;
$black: #000;
$light-blue:#f1f5f8;
$dark-blue:#102a42;
$grey:#EBEBEB;
$light-grey:#F9F9F9;
$dark-grey:#7D7D7D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $light-blue;
    color: $dark-blue;
    line-height: 1.5px;
    font-size: 1rem;
}

main {
    width: 90vh;
    max-width: 620px;
    margin: 5rem auto;
}

section {
    width: 90vh;
    max-width: 1170px;
    margin: 0 auto;
}

.user-roles-wrapper {
    .user-roles-select {
        width: 70%;
    }

    .user-roles-action {
        width: 15%;
    }
}

.user-roles {
    .user-role {
        width: 85%;
        position: relative;
        margin-left: 20px;

        .filter-icon {
            font-size: 30px;
            color: $black;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .ant-table-cell {
        padding: 0 16px;
    }

    .table-icons {
        width: 15%;

        .trash-icon {
            color: $black;
        }
    }
}

/* Delete Modal */
.delete-modal {
    .ant-modal-header {
        background: $purple;

        .ant-modal-title {
            color: $white;
        }
    }

    .ant-modal-body {
        padding: 24px 24px 0 24px;
    }

    .ant-modal-footer {
        border-top: 0;
    }
}

.user-roles-filter {
    padding: 0.625rem;
    .ant-form-item {
        margin-bottom: 3px;

        &.filter-selector {
            width: 50%;
        }

        &.input-filter{
            margin-bottom: 10px;
        }
    }

    .select-filter {
        .ant-select-selector {
            background-color: $light-grey;

            & .ant-select-selector:hover {
                background: $grey;
            }
        }
    }

    .filter-button {
        padding: 0px 1.875rem;
        background: $light-grey;

        &:first-of-type {
            margin-right: 0.9rem;

        }
        &:last-of-type {
            color:$black;
        }
    }
}

.ant-table-column-sorters{
    padding: 2px 15px;
}